@import "../../../common.module.scss";

.CP {
  min-height: 100vh;
  background-color: $white;

  h3,
  h2,
  h5,
  p {
    font-weight: lighter;
  }

  h3,
  h2 {
    color: $red;
  }

  strong {
    color: $red;
  }

  .introduction {
    .introductionLeft {
      display: flex;
      min-height: 400px;
      justify-content: center;
      align-items: center;
    }
  }

  .icpc {
    // height: 20vh;
    // width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .parallax {
    background-image: url("../../../img/parallax1.jpg");
    height: 40vh;
    background-position: center;
    background-attachment: fixed;
  }

  .cpHeader {
    text-align: center;
  }
  @media screen and (max-width: 600px) {
    .cpHeader {
      text-align: left;
    }
  }

  .contests {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}

:global(#materialbox-overlay) {
  background-color: rgba(0, 0, 0, 0.5);
}

:global(#cp-main) {
  min-height: 100vh;
}
