@import "../../../common.module.scss";

.NotFound {
  background-color: $white;
  color: $red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  @media screen and (min-width: 600px) {
    text-align: center;
  }
  h1 {
    font-weight: lighter;
  }
}
